SysDAL/bin/
SyncRainNC/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
SyncRainNC/obj/Release/DCFDProcSKBY.csprojResolveAssemblyReference.cache
SyncRainNC/obj/Release/DCFDProcSKBY.csproj.FileListAbsolute.txt
SyncRainNC/obj/
DBSupport/obj/
DBSupport/bin/
SysDAL/obj/
SysModel/obj/
Common/obj/
Common/bin/
SyncRainNC/bin/
SysModel/bin/
SyncRainNCSiteValue.v12.suo
.vs/
GridControl/bin/Debug/
GridControl/bin/
GridControl/Lib/
GridControl/obj/
packages/
/GridControl/Properties/app.manifest
/DBSupport/App.config
/DBSupport/packages.config
GridModelControl.sln
DBSupport/DBSupport.csproj
GridControl/GridControl.csproj
SysDAL/SysDAL.csproj
