<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--该配置必须放在此处-->
  <configSections>
    <section name="hainan" type="System.Configuration.NameValueSectionHandler"/>
    <section name="guangdong" type="System.Configuration.NameValueSectionHandler"/>
    <section name="fujian" type="System.Configuration.NameValueSectionHandler"/>
    <section name="zhejiang" type="System.Configuration.NameValueSectionHandler"/>
	<section name="shandong" type="System.Configuration.NameValueSectionHandler"/>
    <section name="guangxi" type="System.Configuration.NameValueSectionHandler"/>
    <section name="anhui" type="System.Configuration.NameValueSectionHandler"/>
    <section name="jiangxi" type="System.Configuration.NameValueSectionHandler"/>
	<section name="jiangsush" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
  
  <!--//@ 配表名，用来确认各个省切片数据输出目录等，需要传递给python脚本，和bat脚本。一致即可-->
  <!--目前支持：rainTileFolder-->
  <hainan>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\hainan"/>
  </hainan>
  <guangdong>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\guangdong"/>
  </guangdong>
  <fujian>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\fujian"/>
  </fujian>
  <zhejiang>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\zhejiang"/>
  </zhejiang>
  
    <shandong>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\shandong"/>
  </shandong>
  <guangxi>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\guangxi"/>
  </guangxi>
  <jiangxi>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\jiangxi"/>
  </jiangxi>
  <anhui>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\anhui"/>
  </anhui>
    <jiangsush>
    <add key="rainTileFolder" value="D:\zhongzaitaifeng\ranitile\jiangsush"/>
  </jiangsush>
  
	
  
  
  <!--用来指定库名，从中查询各个省的参数库中配置的计算单元个数以及模型配置的路径-->
  <connectionStrings>
    <add name="china" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_China_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
    <add name="hainan" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_HaiNanGrid_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
    <add name="guangdong" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_GuangDong_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
	  <add name="fujian" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_FuJian_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
    <add name="zhejiang" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_ZheJiang_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
	
	    <add name="shandong" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_ShanDong_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
    <add name="guangxi" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_GuangXi_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
	  <add name="anhui" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_AnHui_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
    <add name="jiangxi" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_JiangXi_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
	    <add name="jiangsush" connectionString="Data Source =172.16.40.56,1433;Initial Catalog =HSFX_JiangSuSH_DB35;User Id =sa;Password =shuikeyuan.123;Type System Version = SQL Server 2012;"/>
  </connectionStrings>
  
  <!--@通用参数配置-->
  <appSettings>
    <!--日志过期条数-->
    <add key="logNumExpire" value="1"/>
   <!--//@一、 读取指定目录下的dat文件以及风暴潮文件，调用python分割-->
    <add key="rainSRC" value="D:\\temp"/>
    

    <!--//! 是否删除当天已录入的重复数据-->
    <add key="isDeleteFirst" value="true"/>

    <!--//! 调用的python降雨切片脚本文件全名-->
    <add key="raindataForPython" value="RainData_921.py"/>

    <!--//! 调用的bat命令启动当前省份的所有模型V2-runall全部启动命令.bat，全路径由数据库中的app路径返回一级+这里配置的文件名组成-->
    <add key="rubbatForDOS" value="runall全部启动命令.bat"/>
    
    <!--//！ 当前调度管理的computernode-->
    <add key="computerNode" value="ComputeNode1"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--//CSVLog-->
    <add key="useCSVLOG" value="false"/>
    <add key="CSVLogPath" value="\\192.168.100.100\s1-cpfs1\GridControlLog"/>
    
    <add key="searchIP" value="172.16"/>
    <add key="gridsize" value="25,29,0.1"/>
    <add key="waitcount" value="100"/>
  </appSettings>
</configuration>
